<!DOCTYPE html>
<html>
<head>
    <title>Iniciar sesión</title>
</head>
<body>
    <h1>{{info}}</h1>
    <form method='POST'>
        <label for="username">Usuario:</label>
        <input type="text" name="Usuario" id="uname"/>
        <label for="password">Contraseña:</label>
          <input type="text" name="Contraseña" id="pword"/>
        {% if admin == False %}
        <input type="submit" name="submit" value="Iniciar sesión"/>
        {% else %}
        <input type="submit" name="submit" value="Abrir caso"/>
        <input type="submit" name="submit" value="Revisar caso"/>
        {% endif %}
    </form>
</body>
</html>