<!DOCTYPE html>
<html>
<head>
<title><font color="green"<b><i>Prueba Mantenimiento</i></b></font></title>
</head>
<body>
<h1>Prueba para crear una página web de Mantenimiento Greening</h1>
<p> El objetivo es crear desplegables en la página donde subir los documentos, fotos,...,etc.</p>
<img src="https://spinoff.ugr.es/media/cache/f4/c5/f4c51e95f0844ff5ad1ff4ef22ae4d78.jpg">
<body style="background-color:#B1FA93;">
<p style="color:#FEFEFE;">

<form enctype="multipart/form-data"
         method="POST">
  	<label for="type">Tipo de archivo:</label>
	<select name="type" id="type">
		<option value="picture">Foto(s)</option>
		<option value="dispatch">Parte de inspección</option>
	</select>
        <label for="file">Archivos a adjuntar:</label>
  
        <input type="file" id="file" 
            name="file" multiple="multiple" />
          
        <br /><br />
      
        <input type="submit" value="Subir"/>
</body>
</html>